<h1>Our superheroes: </h1>

{{#if result}}
  <div class="list-group">
    {{#each result}}
      <a class="list-group-item" href="/superheroes/{{id}}">{{name}}</a>
    {{/each}}
  </div>
{{else}}
  <h1>No superheroes yet.</h1>
{{/if}}