<form action="/superheroes/{{result._id}}/edit" method="post">
  <div class="form-group">
    <div class="col-sm-5">
      <input type="text" name="name" id="name" class="form-control" placeholder="Name" value={{result.name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-20">
      <input type="submit" value="Update" class="btn btn-success btn-md">
    </div>
  </div>
</form>